.border-bottom {
    border-bottom: 1px solid #e6e6e6;
}

.border-bottom-f2 {
    border-bottom: 8px solid #f2f2f2;
}

.border-top-f2 {
    border-bottom: 8px solid #f2f2f2;
}

.border-right {
    border-right: 1px solid #e6e6e6;
}

.main-content {
    @apply h-calc56 bg-f2;
}

.icon-hover {
    @apply p-1 rounded;
}

/* 对所有分页组件的样式 */
.pagination {
    .ant-pagination-item-active {
        border: none;
        background-color: #f4f8ff;

        a {
            color: #5777ff;
        }
    }
}

/* 对所有表格组件的样式 */
.ant-table-container {

    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td.ant-table-cell {
        background-color: #ffffff;
        height: 44px;
        padding: 0px 16px;
        border-bottom: 1px solid #e6e6e6 !important;
    }
}

/* 对所有选择器组件的样式 */
.ant-select-dropdown {
    width: 187px !important;
    max-height: 280px !important;
    overflow-y: auto !important;
    border-radius: 6px !important;
    padding: 8px 1px !important;
    border: 1px solid #DEE0E3 !important;

    .ant-select-item {
        font-size: 16px !important;
        height: 40px !important;
        color: #2A2C32 !important;
    }
}

.select-content {
    .ant-select-selector {
        border-radius: 4px !important;
        padding: 0px 4px 0px 8px !important;
        font-size: 12px !important;
    }

    .ant-select-dropdown-menu-item {
        background: #4d4d4d !important;
    }
}


/* 各个安全级别 */
.serious,
.high_risk,
.medium_risk,
.low_risk {
    width: 28px;
    height: 17px;
    border-radius: 2px;
    padding: 1px 4px;
    font-size: 10px;
    color: #FFFFFF;
    gap: 10px;
}

.serious {
    background-color: #BF1C0D;
}

.high_risk {
    background-color: #CC5F00;
}

.medium_risk {
    background-color: #CC9900;
}

.low_risk {
    background-color: #B3B3B3;
}